  
 #logo2 {
     margin:0 auto; 
     padding-bottom:100px;
     padding-top:30px;
 }
 #navbar { 
   background-color:black;
 
 }
 #logoContainer { 
     width:100%;
     height: auto;
     background-color:black;
     background-image: url(" /assets/space2.jpg");
      /*background-position: center; */
 }
 .navbar3 {
   background-color:black;
 }
.mainContainer .navbar-brand {
  height: 100px;
}

.mainContainer .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.mainContainer .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}


 


 




 


 



 
