body, html{
     height: 100%;
 	background-repeat: no-repeat;
 
 	font-family: 'Oxygen', sans-serif;
}

.main{
 	margin-top: 70px;
}


.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
	color:white;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

 

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

#registrationWrapper  {
	position:relative;
	bottom:50px;
}

 .img-responsive {
	 display:block;
	 margin:0 auto;
	 position:relative;
 }

.register { 
	background-color: #D21C1E;
	outline:none;
}
#registerButton:hover {
	font-weight: bold;
}
textarea:focus, input:focus button:focus{
    outline: none;
}


 