<div id="ranklistContainer" ng-app="myApp" ng-controller='ranklistController'>
    <table ng-controller="nameSortController">
      <tr> 
        <th id ="sortAlphabeticaly"class = "ranklistTd"> 
        <div >
          <th class="ranklistTd" id="searchByName"><h4>Search by Username :<h4> <input ng-model="user" id="searchInput"/> 
        </div> 
          <hr>
          <h4>Close Ranklist <h4>  
      <div class="roundedOne">
	      <input type="checkbox" value="None"   id="roundedOne" name="check" />
	      <label for="roundedOne"></label>
      </div> 

  <table class = "table-responsive" ng-controller="usernameSortController">
  <tr>
    <th class="ranklistTd">#</th>
    <th class="ranklistTd">Avatar</th>
    <!--<th class="ranklistTd">Username</th>-->
    <th class="ranklistTd" id="usernameTableHeader"
         ng-click="orderByField='username'; reverseSort = !reverseSort">
            Username <span ng-show="orderByField == 'username'"><span style="position:relative; bottom:3px" ng-show="!reverseSort">&uarr;</span><span style="position:relative; bottom:3px" ng-show="reverseSort">&darr;</span></span>
        </th>
    <th class="ranklistTd">Kills</th>
    <th class="ranklistTd">Deaths</th>
    <th class="ranklistTd">Score</th>
  </tr>
  <tr ng-repeat="user in data | filter : user | filter : username | orderBy:orderByField:reverseSort ">
      <td class="ranklistTd">{{ $index + 1 }}</td>
      <td class="ranklistTd" id="avatarData"> <img class="img-responsive" id="ranklistAvatar"ng-src="{{user.avatarURL}}" alt=""></td>
      <td class="ranklistTd" id="ranklistUsername">{{ user.username }}</td>
      <td class="ranklistTd">{{ user.kills }}</td>
      <td class="ranklistTd">{{ user.deaths }}</td>
      <td class="ranklistTd">{{ user.score }}</td>
  </tr>
</div>
</table>
</table>
 <script type="text/javascript"src="../javascripts/websiteControllers/indexFront.js"></script>